<app-notifications></app-notifications>

<div class="d-flex align-items-stretch min-height-100 h-100">
  <div class="bg-cover bg-0 hidden-sm-down col-md-5 col-lg-7"></div>
  <div class="card card-block mb-0 rounded-0 p-5 col-sm-12 col-md-7 col-lg-5">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="forgot-form">
      <div class="mb-3 header">
        <img src="assets/images/logo-full.png" class="avatar-xlg mb-4" alt="">
        <p class="ff-headers text-uppercase text-center">Recover your password</p>
      </div>
      <fieldset class="form-group" [ngClass]="{'has-danger': (form.controls['email'].hasError('required') || form.controls['email'].hasError('email')) && form.controls['email'].touched}">
        <label for="email" class="form-control-label">
          Enter your email address
        </label>
        <input type="text" class="form-control" placeholder="Email address" [formControl]="form.controls['email']" [ngClass]="{'form-control-danger': (form.controls['email'].hasError('required') || form.controls['email'].hasError('email')) && form.controls['email'].touched}"/>
        <div class="form-control-feedback" *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched">Email address is required.</div>
        <div class="form-control-feedback" *ngIf="form.controls['email'].hasError('email') && form.controls['email'].touched">Must be a valid email address.</div>
        <a [routerLink]="['/login']" class="form-text"><small>Return to login</small></a>
      </fieldset>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Reset password</button>
    </form>
  </div>
</div>
