.title {
	padding-top: 10px;
	margin-bottom: 0;
}

.address {
	margin-top: 1rem;

	p {
		margin-bottom: 0;
	}
}

.record-hours {
	padding-left: 0;
	padding-right: 0;

	h1 {
		font-size: 2rem;
	}
}

.clear {
	clear: both;
}

.on-review {
	margin-top: 0 !important;
}

select[name="job"] {
	margin-bottom: 1rem;
}

.select2 {
	width: 100% !important;
}

.delete {
	color: #d50000 !important;
}

.alert-info, .alert-success, .alert-danger {
	margin-top: 1rem;
	line-height: 20px;
}

.small-50 {
	font-size: 0.5em !important;
}

.user {
	padding-bottom: 1rem;
	font-size: 0.8rem;
}

.timecard-container {
	font-family: "Arimo", Helvetica, sans-serif !important;

	color: #676a6c;

	select {
		color: inherit;
	}

	select {
		height: 40px !important;
		font-size: .9rem;
	}

	#line_item {
		margin-top: 1rem;
  }

  .emergency-pay-container {
    margin-bottom: -1.2rem;
  }

	.emergency-pay-container, .per-diem-container {
    	margin-top: 1rem;

    	input {
    	  zoom: 1;
		  transform:scale(1.2);
		  -ms-transform:scale(1.2);
		  -webkit-transform:scale(1.2);
		  -o-transform:scale(1.2);
		  -moz-transform:scale(1.2);
		  transform-origin:0 0;
		  -ms-transform-origin:0 0;
		  -webkit-transform-origin:0 0;
		  -o-transform-origin:0 0;
		  -moz-transform-origin:0 0;
		  -webkit-transform-origin:0 0;
    	}

    	label {
    		font-size: 1rem;
    		margin-left: 10px;
    	}
	}

	.punch-controls {
		margin-top: 1rem;

		.btn {
			width: 49%;
			border-radius: 0;
		}

		.btn-in {
			padding-left: 0;
			padding-right: 0;
		}

		.btn-out {
			float: right;
			padding-left: 0;
			padding-right: 0;
		}
	}

	.punch-card {
		margin-top: 1rem;

		.alert {
			margin-bottom: 0;
		}
	}

	.box-location {
		border: 1px solid #d9d9d9;
		padding: 10px 20px;
		background: #eee;
	}

	.form-controls {

		padding: 20px;
		background: #FFF;
		border-color: #e7eaec;
		border-image: none;
		border-style: solid solid none;
		border-width: 1px 0;

		.total-hours {
			font-weight: 700;
			font-size: 0.9rem;
		}

		.btn {
			width: 100%;
			border-radius: 0;
		}

	}

	.form-box {
		background: #FFF;
		.form-box-title {
			border-color: #e7eaec;
			border-image: none;
			border-style: solid solid none;
			border-width: 2px 0 0;
			color: inherit;
			margin-bottom: 0;
			padding: 15px 15px 7px;
			min-height: 48px;
		}
		.form-box-content {
			border-color: #e7eaec;
			border-image: none;
			border-style: solid solid none;
			border-width: 1px 0;
			padding: 15px;
		}
	}

	.time-record-list {
		background-color: #ffffff;
		color: inherit;
		padding: 15px 20px 20px 20px;
		border-color: #e7eaec;
		border-image: none;
		border-style: solid solid none;
		border-width: 1px 0;
		height: 180px;
		overflow: auto;
		.time-record-elem {
			border-bottom: 1px solid #e7eaec;
			margin-top: 5px;
			padding-bottom: 5px;
			padding-left: 5px;
			&.elem-in {
				border-left: 2px solid #0168aa;
			}
			&.elem-out {
				border-left: 2px solid #d60000;
			}
		}
	}

}

.review {
	font-family: "Arimo", Helvetica, sans-serif !important;

	.btn-request {
		padding-right: 0;
		padding-left: 0;
	}

	.on-call-container {
	    width: 42%;
    	display: inline-block;
    	vertical-align: top;

    	input, label {
			font-size: 1.3rem;
    	}
	}

	.space {
		width: 1%;
		display: inline-block;
	    border: 1px solid #cfd6da;
		background-color: #cfd6da;
		height: 50px;
	}

	.log {
	    width: 53%;
    	display: inline-block;
		vertical-align: top;

    	.btn {
		    width: 100%;
		    white-space: normal;
		    word-wrap: break-word;
	        height: 50px;
    	}
	}

	.back {
		margin-top: 10px;
	}

	.review-timecard-container {
		margin-top: 1rem;

		.form-controls {
			padding: 20px;
			background: #FFF;
			border-color: #e7eaec;
			border-image: none;
			border-style: solid solid none;
			border-width: 1px 0;

			.btn {
				width: 100%;
			}
		}

		.time-record-list {
			background-color: #ffffff;
			color: inherit;
			padding: 15px 20px 20px 20px;
			border-color: #e7eaec;
			border-image: none;
			border-style: solid solid none;
			border-width: 1px 0;
		    height: 400px;
    		overflow: scroll;

			.time-record-elem {
				border-bottom: 1px solid #e7eaec;
				margin-top: 5px;
				padding-bottom: 5px;
				padding-left: 5px;
				&.elem-in {
					border-left: 2px solid #0168aa;
				}
				&.elem-out {
					border-left: 2px solid #d60000;
				}
			}
		}
	}
}

@media screen and(max-width: 425px){
	.timecard-container {

	}
}
