<ng-template #modal let-close="close" let-dismiss="dismiss">
  <form [formGroup]="paymentTermsForm" (ngSubmit)="close(true)">
    <div class="modal-header">
      <h4 class="modal-title">Add Payment Terms</h4>
    </div>
    <div class="modal-body">
      <div class="row mt-3">
        <div class="col-10 offset-1">
          <div class="form-group row align-items-center">
            <label for="jobType" class="col-5 col-form-label">Name the Payment Terms:</label>
            <div class="col-7">
              <input type="text" autofocus class="form-control" placeholder="" id="jobType" formControlName="name">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer clearfix">
      <button type="submit" class="btn btn-success btn-sm" [disabled]="!paymentTermsForm.valid">Save</button>
      <button type="button" class="btn btn-danger btn-sm" (click)="close(false)">Close</button>
    </div>
  </form>
</ng-template>
