.container-fluid {
    padding-top: 10px;
    padding-left: 22px;
    padding-right: 22px;
}

.dropdown-options {
    position: absolute;
    right: 15px;

    i {
        cursor: pointer;
    }

    .dropdown-item {
        font-size: 0.8571rem;
        color: #676a6c;
        text-transform: capitalize;
    }
}