.title {
    padding-top: 10px;
}

.btn-group-container {
  padding-top: 30px;
}
.phone-delete-container {
  justify-content: right;
  align-items: right;
  -webkit-box-align: right;
}

.select {
  width: inherit;

  select {
    width: 100%;
  }
}

p-calendar {
	padding: 0.25rem 0.37rem !important;
}