.card {
  min-height: 250px;
  margin-right: 5px;
  padding: 5px 10px 10px;
  overflow: inherit;
  border-radius: 6px 6px 2px 2px;
}

h5 {
  font-size: 17px;
}

.table tbody > tr > td:first-child {
  font-weight: bold !important;
}

.dropdown-menu {
  width: 229px !important;
}

.close {
  position: relative;
  top: -16px;
  cursor: pointer;
  opacity: 1;
  color: #dc3545;
  left: 17px;
}
