.job-id-container {
  font-size: 0.8571rem;
  margin-top: 6px;
}

.invoice-amount {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
}

.dates-input {
  max-width: 100% !important;
}
